<a href="https://colab.research.google.com/github/SAFIYA-KN/safiya-python-repository/blob/main/practice_safiya_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Tutorial 3
1.Read names of "n" fruits from user.
2. Append 2 more fruits to the list by taking user inputs
3. print the names of fruits from 3rd index to 6th index using negative indexing.
4. Using a for loop , display the names of the fruits with letter "i"; .
5. delete the last fruit without specifying its index.
6. Check if the fruit apple present in the list.
7. If apple is present in the list , replace it with dragon fruit.
8. Remove the fruits in the index range 4-6.
9. Reverse the list.
10. Sort the list.
11. Copy the list to another list
12. clear the 1st list list.
13. Display the lists.
14. Insert a new fruit at the 2nd index of the 2nd list taking user input.
15. Delete the 2nd list.
16 : Print the even numbers from 0 to 10 using List Comprehension.

In [ ]:
#1
n=int(input("enter a limit n:"))
a=[]
for i in range(0,n,1):
    s=input()
    a.append(s)
print("complete")

enter a limit n:6
apple
orange
mango
kiwi
banana
jack fruit
complete

In [ ]:
#2
n=int(input("enter a limit n:"))
a=[]
for i in range(0,n,1):
    s=input()
    a.append(s)
f1=input("enter new 1 friut:")
a.append(f1)
f2=input("enter new 2 friut:")
a.append(f2)
print(a)
print("complete")

enter a limit n:6
appleorange
mango
banana
kiwi
jackfruit
orange
enter new 1 friut:gua
enter new 2 friut:dragon fruit
['appleorange', 'mango', 'banana', 'kiwi', 'jackfruit', 'orange', 'gua', 'dragon fruit']
complete

In [ ]:
#3
print(a[-6:-3])

['mango', 'banana', 'jackfruit']

In [ ]:
#4
for i in a:          #a is the full list and is the each element in a
    if "i" in i:    #checks if charecter "i" is present in element i
        print(i)

jackfruit
kiwi
dragon fruit

In [ ]:
#5
a.pop()
print(a)

['apple', 'orange', 'mango', 'banana', 'jackfruit', 'gua', 'kiwi']

In [ ]:
#6
if "apple" in a:
    print("YES")
else :
    print("NO")

YES

In [ ]:
#7
print(a)
print(a.index("apple"))
a[a.index("apple")]="dragon friut"
print(a)

['apple', 'orange', 'mango', 'banana', 'jackfruit', 'gua', 'kiwi']
0
['dragon friut', 'orange', 'mango', 'banana', 'jackfruit', 'gua', 'kiwi']

In [19]:
#8
a=["apple","orange","mango","banana","jackfruit","kiwi","gua","lemon"]
print(a)
del a[4:7]

print(a)

['apple', 'orange', 'mango', 'banana', 'jackfruit', 'kiwi', 'gua', 'lemon']
['apple', 'orange', 'mango', 'banana', 'lemon']

In [ ]:
#9
print(a[::-1])

['lemon', 'banana', 'mango', 'orange', 'apple']

In [ ]:
#10
print(sorted(a))

['apple', 'banana', 'lemon', 'mango', 'orange']

In [20]:
#11
copy1=[]
copy1=a
print(copy1)

['apple', 'orange', 'mango', 'banana', 'lemon']

In [3]:
#12
a.clear()
print(a)

[]

In [7]:
print("initial list ",a)
print("new list",copy1)

initial list  ['apple', 'orange', 'mango', 'banana', 'lemon']
new list ['apple', 'orange', 'mango', 'banana', 'lemon']

In [9]:
fruit=input("enter new fruit:")
copy1.insert(2,fruit)
print(copy1)

enter new fruit:mango
['apple', 'orange', 'mango', 'watermelon', 'banana', 'lemon']

In [21]:
print("list to delete:",copy1)
del copy1
print(copy1)

list to delete: ['apple', 'orange', 'mango', 'banana', 'lemon']

NameError: name 'copy1' is not defined

In [22]:
#16
print([i for i in range(0,11,2)])

[0, 2, 4, 6, 8, 10]

In [ ]:
#tutorial 4

In [23]:
#Create a dictionary
dict1={"alice":20,"bob":22,"charlie":21,"david":23}
print(dict1)
dict1["eve"]=20 #updation
print(dict1)

{'alice': 20, 'bob': 22, 'charlie': 21, 'david': 23}
{'alice': 20, 'bob': 22, 'charlie': 21, 'david': 23, 'eve': 20}

In [ ]:
#Update an existing value
dict1["bob"]=23
print(dict1)

{'alice': 20, 'bob': 23, 'charlie': 21, 'david': 23, 'eve': 20}

In [ ]:
#Delete a Key-Value Pair
del dict1["charlie"]
print(dict1)

{'alice': 20, 'bob': 23, 'david': 23, 'eve': 20}

In [ ]:
#Remove last item
dict1.popitem()
print(dict1)

{'alice': 20, 'bob': 23, 'david': 23}

In [ ]:
#Retreive a value by key
print(dict1["alice"])

20

In [ ]:
#Check if a key exists
if "Frank" in dict1:
    print("Exists")
else:
    print("Not Found")

Not Found

In [ ]:
#print all keys
for key in dict1.keys():
    print(key)

alice
bob
david

In [ ]:
#print all values
dict1.values()

dict_values([20, 23, 23])

In [ ]:
#print all items
dict1.items()

dict_items([('alice', 20), ('bob', 23), ('david', 23)])

In [ ]:

for key,val in dict1.items():
    print(key,val)

alice 20
bob 23
david 23

In [ ]:
#Find the length of the Dictionary
print(len(dict1))

3

In [ ]:
#Clear the Dictionary
dict1.clear()
print(dict1)

{}

In [ ]:
#Copy the Dictionary
dict2={}
dict2=dict1.copy()
print(dict2)

{'alice': 20, 'bob': 22, 'charlie': 21, 'david': 23, 'eve': 20}

In [24]:
#Merge two dictionaries
print(dict1)
new_students={"eve":20,"frank":24}

dict1.update(new_students) #orig.update(new)
print(dict1)

{'alice': 20, 'bob': 22, 'charlie': 21, 'david': 23, 'eve': 20}
{'alice': 20, 'bob': 22, 'charlie': 21, 'david': 23, 'eve': 20, 'frank': 24}

In [ ]:
#Sort Dictionary by keys
print(sorted(dict1.keys()))

['alice', 'bob', 'charlie', 'david', 'eve', 'frank']

In [41]:
#Find student with maximum age
dict1["alice"]=40
print(max(dict1,key=dict1.get))

alice

In [44]:
students = { "Alice": {"age": 20,"city":"New York", "marks": 85},
"Bob": {"age": 22,"city":"Los Angeles", "marks": 78},
"Charlie": {"age": 21, "city":"Chicago", "marks": 90},
"David": {"age": 23, "city": "Houston", "marks": 88} }
print(students)

{'Alice': {'age': 20, 'city': 'New York', 'marks': 85}, 'Bob': {'age': 22, 'city': 'Los Angeles', 'marks': 78}, 'Charlie': {'age': 21, 'city': 'Chicago', 'marks': 90}, 'David': {'age': 23, 'city': 'Houston', 'marks': 88}}

In [45]:
#18 Update an existing Student's age
students["Bob"]["age"]=23
print(students)

{'Alice': {'age': 20, 'city': 'New York', 'marks': 85}, 'Bob': {'age': 23, 'city': 'Los Angeles', 'marks': 78}, 'Charlie': {'age': 21, 'city': 'Chicago', 'marks': 90}, 'David': {'age': 23, 'city': 'Houston', 'marks': 88}}

In [46]:
#19 Increse marks of a student
students["David"]["marks"]=5
print(students)

{'Alice': {'age': 20, 'city': 'New York', 'marks': 85}, 'Bob': {'age': 23, 'city': 'Los Angeles', 'marks': 78}, 'Charlie': {'age': 21, 'city': 'Chicago', 'marks': 90}, 'David': {'age': 23, 'city': 'Houston', 'marks': 5}}

In [48]:
#20 Display nested Dictionary
print("nested Dictionary:")
print(students)

nested Dictionary:
{'Alice': {'age': 20, 'city': 'New York', 'marks': 85}, 'Bob': {'age': 23, 'city': 'Los Angeles', 'marks': 78}, 'Charlie': {'age': 21, 'city': 'Chicago', 'marks': 90}, 'David': {'age': 23, 'city': 'Houston', 'marks': 5}}